- 02_Data.csv 파일을 사용해서 아래 과제를 해결하세요.

import numpy as np
import pandas as pd

df = pd.read_csv("실습 파일/02_Data.csv")
df.head(3)

- 렌탈 고객 유입 채널에 대한 분석을 하고자 한다.    
    1. 데이터에서 고객들의 유입경로(Channel)을 분석하고자 한다. 유입경로(Channel)중 가장 많은 고객이 유입된 경로를 확인하시오.
    2. 가장 많이 유입된 경로(Channel)에 계약된 월랜탈비용(Amount_Month)의 평균을 계산하시오.
    3. 유입경로(Channel)에서 '대형마트A'로 유입된 고객들 중, 연체건수(Overdue_count)가 높은 상위 30명의 계약 명단을 추출하여 result4.xlsx 저장하시오.

In [24]:
#1. 데이터에서 고객들의 유입경로(Channel)을 분석하고자 한다. 유입경로(Channel)중 가장 많은 고객이 유입된 경로를 확인하시오.
df['Channel'].value_counts().head(1)

Channel
영업방판    23767
Name: count, dtype: int64

In [22]:
#2.가장 많이 유입된 경로(Channel)에 계약된 월랜탈비용(Amount_Month)의 평균을 계산하시오.
df[df['Channel']=="영업방판"][['Amount_Month']].mean()

Amount_Month    100322.794631
dtype: float64

In [27]:
#3. 유입경로(Channel)에서 '대형마트A'로 유입된 고객들 중, 연체건수(Overdue_count)가 높은 상위 30명의 계약 명단을 추출하여 result4.xlsx 저장하시오.
result4 = df[df['Channel']=='대형마트A'].sort_values("Overdue_count", ascending=False).head(30)
result4.to_excel("실습 파일/result4.xlsx", index=False)

- 렌탈 계약 제품 군에 대한 분석을 하고자 한다.
    1. 데이터에서 고객들이 가장 많이 계약한 제품군(Product_Type)을 분석하고자 한다. 제품군(Product_Type)에는 어떤 데이터가 있는지 확인하시오.
    2. 제품군(Product_Type)중 계약을 가장 많이한, 빈도수가 가장 높은 상위 3개의 항목을 추출하여, df2로 선언한 뒤, 계약일자(Datetime)에 따른 월렌탈비용(Amount_Month)의 합을 계산해 result5.xlsx파일로 저장하시오.
    3. 제품군(Product_Type)중 계약을 가장 많이한, 빈도수가 가장 높은 상위 2개의 항목의 월랜탈비용('Amount_Month')의 평균의 차이를 계산하시오.

In [29]:
#1. 데이터에서 고객들이 가장 많이 계약한 제품군(Product_Type)을 분석하고자 한다. 
# 제품군(Product_Type)에는 어떤 데이터가 있는지 확인하시오.
df.Product_Type.unique()
set(df['Product_Type'])
df['Product_Type'].drop_duplicates() #중복데이터 삭제

array(['DES-1', 'DES-3A', 'DES-2', 'DES-R4', 'MMC', 'ERA'], dtype=object)

In [44]:
#2. 제품군(Product_Type) 중 계약을 가장 많이한, 빈도수가 가장 높은 상위 3개의 항목을 추출하여, 
# df2로 선언한 뒤, 계약일자(Datetime)에 따른 월렌탈비용(Amount_Month)의 합을 계산해 result5.xlsx파일로 저장하시오.
df.Product_Type.value_counts().head(3)

Product_Type
DES-1     39133
DES-2      8996
DES-3A     2081
Name: count, dtype: int64

In [3]:
item = df['Product_Type'].value_counts().head(3).index
# df3 = df[df['Product_Type'].isin(item)]

# result = df3.pivot_table(index="Datetime", values="Amount_Month", aggfunc = "sum")
# result.to_excel("실습 파일/result5.xlsx")

In [46]:
df2 = df[df['Product_Type'].isin(['DES-1','DES-2','DES-3A'])]

result5 = df2.pivot_table(index = "Datetime",values="Amount_Month" , aggfunc='sum')
result5.to_excel("실습 파일/result5.xlsx")

In [121]:
result5

            Amount_Month
Datetime
2021-12-31       4556400
2022-01-01       4903800
2022-01-02       7146300
2022-01-03       4920900
2022-01-04       5505450
...                  ...
2023-08-03       2903739
2023-08-04       2858343
2023-08-05       3031842
2023-08-06       2770758
2023-08-07       1984143

[577 rows x 1 columns]

In [97]:
# 3. 제품군(Product_Type)중 계약을 가장 많이한, 빈도수가 가장 높은 상위 2개의 항목의 월랜탈비용('Amount_Month')의 평균의 차이를 계산하시오.
a = df2[df2['Product_Type']=='DES-1'][['Amount_Month']].mean()[0]
b = df2[df2['Product_Type']=='DES-2'][['Amount_Month']].mean()[0]
abs(a-b)

6868.154548431063

- 계약 고객의 계약 특성을 분석하고자 한다.
    1. 데이터에서 고객들이 결제하는 은행(Bank)를 확인하고자 한다. 결제은행(Bank)항목에서 '신한카드'로 결제하는 고객들의 수를 확인하시오
    2. 월랜탈비용(Amount_Month)이 15만원 이상인 고객들 중 판매유형(Sales_Type)이 '렌탈'에 해당하는 고객만 추출하여, 해당 데이터의 행(index) 개수를 확인하시오.

In [14]:
# 데이터에서 고객들이 결제하는 은행(Bank)를 확인하고자 한다. 
#결제은행(Bank)항목에서 '신한카드'로 결제하는 고객들의 수를 확인하시오
len(df[df['Bank']=='신한카드'])

df['Bank'].value_counts()['신한카드']

1532

In [19]:
# 월랜탈비용(Amount_Month)이 15만원 이상인 고객들 중 판매유형(Sales_Type)이 '렌탈'에 해당하는 고객만 추출하여, 
# 해당 데이터의 행(index) 개수를 확인하시오.
df[(df['Amount_Month']>=150000)&(df['Sales_Type']=='렌탈')].count().head(1)[0]
df[(df['Amount_Month']>=150000)&(df['Sales_Type']=='렌탈')].shape[0]

141

- 계약 건의 전체
    1. 계약일자(Datetime)에서 계약연도(Year)파생변수를 생성하고, 연도 별, 각 제품군(Product_Type)의 월랜탈비용(Amount_Month) 합을 계산하시오.
    2. 22년 대비 23년 제품군(Product_Type)별 월랜탈비용(Amount_Month) 합의 증감율을 계산하시오.
        - 증감율 : ( (22년 월랜탈비용 총합) - (23년 월랜탈비용 총합) ) / (22년 월랜탈비용 총합)
    3. 판매 유형(Sales_Type)에서 '렌탈'계약과 '멤버십' 계약의 월랜탈비용(Amount_Month)의 평균의 차이를 계산하시오.
    4. 계약 데이터를 주기적으로 정리하는 업무자동화 프로그램을 만들고자 한다. 데이터에서 주차(Work Week)를 입력 해, 해당 주차의 제품 군(Product_Type)별 월랜탈비용(Amount_Month)의 합과 평균을 엑셀로 출력하는 함수를 생성하시오.
    - 파일이 저장 될 때, 아래와 같은 이름으로 저장 되어야 합니다.
        - 1주차 입력시 -> '1week_Product_Contract.xlsx'
        - 3주차 입력시 -> '3week_Product_Contract.xlsx'

In [20]:
# 1. 계약일자(Datetime)에서 계약연도(Year)파생변수를 생성하고, 
# 연도 별, 각 제품군(Product_Type)의 월랜탈비용(Amount_Month) 합을 계산하시오.

df['Datetime']=pd.to_datetime(df['Datetime'], format="%Y-%m-%d")
df['Year'] = df.Datetime.dt.year

In [21]:
df.pivot_table(index ='Year',columns='Product_Type', values='Amount_Month', aggfunc='sum', fill_value=0).T

Year             2021        2022       2023
Product_Type
DES-1         3201600  2945729313  746184813
DES-2         1082100   631794330  154780860
DES-3A         272700   157173060   39639300
DES-R4              0    33891300    8437200
ERA                 0    62944500   14171100
MMC                 0    17540100    5193900

In [102]:
# 2. 22년 대비 23년 제품군(Product_Type)별 월랜탈비용(Amount_Month) 합의 증감율을 계산하시오.
#   - 증감율 : ( (22년 월랜탈비용 총합) - (23년 월랜탈비용 총합) ) / (22년 월랜탈비용 총합)

df2023 = df.pivot_table(index ='Product_Type',columns='Year', values='Amount_Month', aggfunc='sum', fill_value=0)[2023]
df2022 = df.pivot_table(index ='Product_Type',columns='Year', values='Amount_Month', aggfunc='sum', fill_value=0)[2022]
df2023

Product_Type
DES-1     746184813
DES-2     154780860
DES-3A     39639300
DES-R4      8437200
ERA        14171100
MMC         5193900
Name: 2023, dtype: int64

In [105]:
df_ratio = pd.DataFrame({'Ratio' : (df2022-df2023)/df2022})
df_ratio

                 Ratio
Product_Type
DES-1         0.746689
DES-2         0.755014
DES-3A        0.747798
DES-R4        0.751051
ERA           0.774864
MMC           0.703884

In [29]:
sample = df.pivot_table(index="Product_Type", columns = 'Year', values = "Amount_Month", aggfunc='sum')
sample['증감율'] = (sample[2022]-sample[2023])/sample[2022]
sample[['증감율']]

Year               증감율
Product_Type
DES-1         0.746689
DES-2         0.755014
DES-3A        0.747798
DES-R4        0.751051
ERA           0.774864
MMC           0.703884

In [75]:
#3. 판매 유형(Sales_Type)에서 '렌탈'계약과 '멤버십' 계약의 월랜탈비용(Amount_Month)의 평균의 차이를 계산하시오.
a = df[df['Sales_Type']=='렌탈'][['Amount_Month']].mean()[0]
b = df[df['Sales_Type']=='멤버십'][['Amount_Month']].mean()[0]
abs(a-b)

34122.413318100276

In [30]:
#4. 계약 데이터를 주기적으로 정리하는 업무자동화 프로그램을 만들고자 한다. 
#데이터에서 주차(Work Week)를 입력 해, 
#해당 주차의 제품 군(Product_Type)별 월랜탈비용(Amount_Month)의 합과 평균을 엑셀로 출력하는 함수를 생성하시오.
#- 파일이 저장 될 때, 아래와 같은 이름으로 저장 되어야 합니다.
#    - 1주차 입력시 -> '1week_Product_Contract.xlsx'
#    - 3주차 입력시 -> '3week_Product_Contract.xlsx'

df['Week']=df['Datetime'].dt.isocalendar().week
df['Week']

0        18
1         7
2         8
3        19
4        19
         ..
51296     9
51297    13
51298    13
51299     5
51300    16
Name: Week, Length: 51301, dtype: UInt32

In [138]:
def func2(df, x):
    a = df.pivot_table(index='Week',columns='Product_Type', values="Amount_Month", aggfunc=['sum','mean'], fill_value=0)
    a2 = a.loc[x]
    a2.to_excel(str(x)+"week_Product_Contract.xlsx")

In [140]:
func2(df, 50)

In [32]:
sample = df[df['Week']==5]
sample.head(4)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,...,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank,Year,Week
151,152,66758348,렌탈,프로모션계약,영업방판,2022-01-31,60,카드이체,DES-1,105900,...,경상도,부산광역시,계약확정,0,없음,여자,1.0,롯데카드,2022,5
160,161,66758679,렌탈,패키지계약,홈쇼핑/방송,2022-01-31,60,카드이체,DES-1,81900,...,경상도,경상도,계약확정,0,없음,남자,2.0,롯데카드,2022,5
208,209,25777820,렌탈,프로모션계약,직영유통사,2022-02-02,36,가상계좌,DES-1,96900,...,경기도,경기도,계약확정,0,없음,여자,NaN,NaN,2022,5
217,218,66758781,렌탈,프로모션계약,대형마트E,2023-02-02,60,CMS,DES-1,96900,...,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,신한은행,2023,5

In [33]:
sample.pivot_table(index='Product_Type', values="Amount_Month", aggfunc=['sum','mean'])

                      sum           mean
             Amount_Month   Amount_Month
Product_Type
DES-1            93814218   94570.784274
DES-2            19434810   86762.544643
DES-3A            4566600   93195.918367
DES-R4             923100  131871.428571
ERA               1559700  119976.923077
MMC                772800  193200.000000

In [ ]:
def make_data(week):
    sample = df[df['Week']==week]
    sample.pivot_table(index='Product_Type', values="Amount_Month", aggfunc = ['sum','mean'])
    result.to_excel(f"{week}week_Product_Contract.xlsx")