1. Z1-Temp값을 목표변수로 회귀 모델을 구성하고자 한다. 각 소입로(Tube Furnace) 온도계수(Temp)와 열전도율(OP), CP, ST값을 입력했을 때, Z1-Temp를 예측할 수 있는 모델을 **다중 선형 회귀 모델**로 구성하시오.
    - X : 'Tube Furnace CP', 'Tube Furnace1 OP', 'Tube Furnace1 Temp', 'Tube Furnace2 OP', 'Tube Furnace2 Temp', 'Tube Furnace3 OP', 'Tube Furnace3 Temp', 'Tube Furnace4 OP', 'Tube Furnace4 Temp', 'ST'
    - 먼저 다중 선형회귀 모델을 구성한 뒤, 성능을 확인하시오.
    - 특성공학을 이용해, 다항 회귀 모델을 구성한 뒤, 성능을 확인하시오.
    - 규제선형회귀 모델 중 하나를 활용해 회귀모델을 구성한 뒤, 성능을 확인하시오.
    - 본인이 만든 모델 중 가장 성능이 좋은 모델을 Best.sav로 저장하시오.
    - 가장 성능이 좋은 모델의 회귀 계수를 확인하시오.
    - 현재 만든 모델을 "08_Data_Test.csv"파일을 넣어, Test Set Score (R2)를 계산하시오.
2. 위의 모델에서 변수 선택법을 이용하여, 4개의 X만 선별해 Target을 예측하는 모델을 구성하고, 변수선택법에 의해 선택된 4개의 X값이 무엇인지 확인하시오.
3. 위에서 선택된 4개의 X값들이 각각 어떤 상관관계가 있는지 확인하시오.
4. 상관성이 가장 높은 2개의 인자를 선택해,Code_Num 별 두 변수의 평균/표준편차를 계산하시오.

In [1]:
# 08_Data.csv 를 불러와 df1으로 선언하고, 아래의 미션을 수행하시오.
import pandas as pd
import numpy as np

df1 = pd.read_csv('실습 파일/08_Data.csv')
del df1['Unnamed: 0']
df1.head(3)

,Code_Num,Datetime,Process_Type,ST,Tube Furnace CP,Tube Furnace1 OP,Tube Furnace1 Temp,Tube Furnace2 OP,Tube Furnace2 Temp,Tube Furnace3 OP,Tube Furnace3 Temp,Tube Furnace4 OP,Tube Furnace4 Temp,Z1-OP1,Z1-OP2,Z1-Temp
0,GroupA,2022-01-03 11:22,OP-A,NaN,0.450497,73.527404,NaN,59.989422,868.759544,52.249481,NaN,72.134908,NaN,74.255730,76.879748,NaN
1,GroupA,2022-01-03 11:22,OP-A,NaN,0.457370,79.149174,878.116929,62.027232,883.821264,50.617109,890.740760,71.245235,894.430606,66.323571,71.297720,NaN
2,GroupA,2022-01-03 11:22,OP-A,68.724636,0.454914,78.946336,866.441979,62.235532,882.850031,52.218350,864.373065,72.705558,893.530501,72.909936,71.579322,99.614201

In [2]:
df1.isnull().sum()

Code_Num                0
Datetime                0
Process_Type            0
ST                     15
Tube Furnace CP         0
Tube Furnace1 OP      179
Tube Furnace1 Temp      4
Tube Furnace2 OP        0
Tube Furnace2 Temp      2
Tube Furnace3 OP        0
Tube Furnace3 Temp      7
Tube Furnace4 OP        0
Tube Furnace4 Temp      5
Z1-OP1                  0
Z1-OP2                  0
Z1-Temp                15
dtype: int64

In [3]:
data = df1[['Tube Furnace CP', 'Tube Furnace1 OP', 'Tube Furnace1 Temp',
         'Tube Furnace2 OP', 'Tube Furnace2 Temp', 'Tube Furnace3 OP',
         'Tube Furnace3 Temp', 'Tube Furnace4 OP', 'Tube Furnace4 Temp', 'ST','Z1-Temp']]

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93043 entries, 0 to 93042
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Tube Furnace CP     93043 non-null  float64
 1   Tube Furnace1 OP    92864 non-null  float64
 2   Tube Furnace1 Temp  93039 non-null  float64
 3   Tube Furnace2 OP    93043 non-null  float64
 4   Tube Furnace2 Temp  93041 non-null  float64
 5   Tube Furnace3 OP    93043 non-null  float64
 6   Tube Furnace3 Temp  93036 non-null  float64
 7   Tube Furnace4 OP    93043 non-null  float64
 8   Tube Furnace4 Temp  93038 non-null  float64
 9   ST                  93028 non-null  float64
 10  Z1-Temp             93028 non-null  float64
dtypes: float64(11)
memory usage: 7.8 MB

In [4]:
data2 = data.dropna()
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 92847 entries, 2 to 93042
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Tube Furnace CP     92847 non-null  float64
 1   Tube Furnace1 OP    92847 non-null  float64
 2   Tube Furnace1 Temp  92847 non-null  float64
 3   Tube Furnace2 OP    92847 non-null  float64
 4   Tube Furnace2 Temp  92847 non-null  float64
 5   Tube Furnace3 OP    92847 non-null  float64
 6   Tube Furnace3 Temp  92847 non-null  float64
 7   Tube Furnace4 OP    92847 non-null  float64
 8   Tube Furnace4 Temp  92847 non-null  float64
 9   ST                  92847 non-null  float64
 10  Z1-Temp             92847 non-null  float64
dtypes: float64(11)
memory usage: 8.5 MB

강사님과 한 것

In [7]:
# Z1-Temp값을 목표변수로 회귀 모델을 구성하고자 한다. 
# 각 소입로(Tube Furnace) 온도계수(Temp)와 열전도율(OP), CP, ST값을 입력했을 때, 
# Z1-Temp를 예측할 수 있는 모델을 다중 선형 회귀 모델로 구성하시오.

from sklearn.linear_model import Ridge

X = data2.iloc[:,:-1].to_numpy()
y = data2['Z1-Temp']
# 먼저 다중 선형회귀 모델을 구성한 뒤, 성능을 확인하시오.

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

train_x, test_x, train_y, test_y = train_test_split(X,y, test_size = 0.2)

ss = StandardScaler()
train_scaled = ss.fit_transform(train_x)
test_scaled = ss.transform(test_x)

for alpha in [0.001,0.01,0.1,1,10,100]:
    lr = Ridge(alpha = alpha)
    lr.fit(train_scaled, train_y)
    
    print(lr.score(train_scaled, train_y),lr.score(test_scaled, test_y))

0.08047590585345354 0.08244199731351143
0.08047590585345188 0.08244199697538901
0.08047590585330788 0.08244199359403659
0.08047590583890685 0.08244195976812285
0.08047590439916574 0.08244162027005442
0.08047576077897256 0.08243810173765742

In [10]:
# 특성공학을 이용해, 다항 회귀 모델을 구성한 뒤, 성능을 확인하시오.
from sklearn.preprocessing import PolynomialFeatures # 특성공학

X = data2.iloc[:,:-1].to_numpy()
y = data2['Z1-Temp']
    
for deg in range(2, 6):
    poly = PolynomialFeatures(degree=deg, include_bias=False)
    
    X_poly = poly.fit_transform(X)
    
    train_x, test_x, train_y, test_y = train_test_split(X_poly, y)
    
    ss = StandardScaler()
    train_scaled = ss.fit_transform(train_x)
    test_scaled = ss.transform(test_x)
    
    # 0.001, 0.01, 0.1, 1, 10, 100
    for alpha in [0.001,0.01,0.1,1,10,100]:
        lr = Ridge(alpha = alpha)
        lr.fit(train_scaled, train_y)
        print(deg, alpha)
        print(lr.score(train_scaled, train_y),lr.score(test_scaled, test_y))
        print()
        
# poly 값은 높고 규제가 낮을수록 정확도가 높게 나옴!

2 0.001
0.11929723530351877 0.11927387219890795

2 0.01
0.11929532473539717 0.11927934805097029

2 0.1
0.11914272592122455 0.1191813631315286

2 1
0.11517641940389467 0.11524531843928043

2 10
0.10192466922398402 0.10206062030562302

2 100
0.09016498172863252 0.09113923648537392

3 0.001
0.15277457012303441 0.1428458957452231

3 0.01
0.14688571279594065 0.13948179301603336

3 0.1
0.1401450395593038 0.13445429902574035

3 1
0.13146454392699725 0.12657853350184234

3 10
0.12125571485375775 0.11701142037287704

3 100
0.10474367023328746 0.10227098741949536

4 0.001
0.16903869431189678 0.15503127796824767

4 0.01
0.15798684534614615 0.145996661906184

4 0.1
0.14992330018769462 0.1396619991259589

4 1
0.14251944249671267 0.1331001315551582

4 10
0.13243989665509825 0.12375566412089323

4 100
0.11882325621506629 0.1109085860132194

5 0.001
0.1803026864439089 0.17059128901801446

5 0.01
0.16725121333408244 0.15966211167523114

5 0.1
0.15623852386984916 0.15052168033600677

5 1
0.14801685888461447 0.14357965744730083

5 10
0.1396991792161466 0.13605092504417082

5 100
0.12722542877533938 0.12377451410312013

내가 제출한 것

In [5]:
# Z1-Temp값을 목표변수로 회귀 모델을 구성하고자 한다. 
# 각 소입로(Tube Furnace) 온도계수(Temp)와 열전도율(OP), CP, ST값을 입력했을 때, 
# Z1-Temp를 예측할 수 있는 모델을 다중 선형 회귀 모델로 구성하시오.

X = data2.iloc[:,:-1].to_numpy()
y = data2['Z1-Temp']
# 먼저 다중 선형회귀 모델을 구성한 뒤, 성능을 확인하시오.

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

train_x, test_x, train_y, test_y = train_test_split(X,y, test_size = 0.2)

ss = StandardScaler()
train_scaled = ss.fit_transform(train_x)
test_scaled = ss.transform(test_x)

lr = LinearRegression()
lr.fit(train_scaled, train_y)

print(lr.score(train_scaled, train_y),lr.score(test_scaled, test_y))

0.08138276820057833 0.0786759384450827

In [104]:
# 특성공학을 이용해, 다항 회귀 모델을 구성한 뒤, 성능을 확인하시오.
from sklearn.preprocessing import PolynomialFeatures # 특성공학

poly = PolynomialFeatures(degree=4, include_bias=True)

X = data2.iloc[:,:-1].to_numpy()
y = data2['Z1-Temp']

train_x, test_x, train_y, test_y = train_test_split(X,y, test_size=0.3)

ss = StandardScaler()
train_scaled = ss.fit_transform(train_x)
test_scaled = ss.transform(test_x)
print("train_scaled 의 shape : ",train_scaled.shape )

train_poly = poly.fit_transform(train_scaled)
test_poly = poly.transform(test_scaled)

print("train_poly 의 shape : ",train_poly.shape )

lr = LinearRegression()
lr.fit(train_poly, train_y)

print(lr.score(train_poly, train_y),lr.score(test_poly, test_y))

train_scaled 의 shape :  (64992, 10)
train_poly 의 shape :  (64992, 1001)
0.19331561119412566 0.17371864599020037

In [99]:
# 규제선형회귀 모델 중 하나를 활용해 회귀모델을 구성한 뒤, 성능을 확인하시오.
# 과대적합 극복방법 : 릿지회귀
# 어느 것이 더 좋은 모델인가?!
# 릿지는 과대적합 규제

from sklearn.linear_model import Ridge

poly = PolynomialFeatures(degree=4, include_bias=False)

X = data2.iloc[:,:-1].to_numpy()
y = data2['Z1-Temp']

train_x, test_x, train_y, test_y = train_test_split(X,y, test_size = 0.3)

ss = StandardScaler()
train_scaled = ss.fit_transform(train_x)
test_scaled = ss.transform(test_x)
print("train_scaled 의 shape : ",train_scaled.shape )

train_poly = poly.fit_transform(train_scaled)
test_poly = poly.transform(test_scaled)

print("train_poly 의 shape : ",train_poly.shape )

rd = Ridge(alpha = 0.1) 
rd.fit(train_poly, train_y)

print(rd.score(train_poly, train_y),rd.score(test_poly, test_y))

train_scaled 의 shape :  (64992, 10)
train_poly 의 shape :  (64992, 1000)
0.19539086139320927 0.16973147256196153

In [93]:
#  본인이 만든 모델 중 가장 성능이 좋은 모델을 Best.sav로 저장하시오.
import pickle
f = open("생성 파일/Best.sav",'wb')
pickle.dump(lr,f)
f.close()

In [94]:
# 가장 성능이 좋은 모델의 회귀 계수를 확인하시오.
lr.score(test_poly, test_y)

0.17446818935355202

In [ ]:
# 현재 만든 모델을 "08_Data_Test.csv"파일을 넣어, Test Set Score (R2)를 계산하시오.

In [11]:
# 위의 모델에서 변수 선택법을 이용하여, 4개의 X만 선별해 Target을 예측하는 모델을 구성하고, 
# 변수선택법에 의해 선택된 4개의 X값이 무엇인지 확인하시오.

# 특성 선택
from sklearn.feature_selection import SelectKBest, f_regression

X = data2.iloc[:,:-1]
y = data2['Z1-Temp']

selector = SelectKBest(f_regression, k=4)

X_new = selector.fit_transform(X,y)

selector.get_feature_names_out()

array(['Tube Furnace CP', 'Tube Furnace3 OP', 'Tube Furnace4 OP', 'ST'],
      dtype=object)

In [96]:
# 특성공학을 이용해, 다항 회귀 모델을 구성한 뒤, 성능을 확인하시오.
from sklearn.preprocessing import PolynomialFeatures # 특성공학

poly = PolynomialFeatures(degree=4, include_bias=False)


y = data2['Z1-Temp']

train_x, test_x, train_y, test_y = train_test_split(X_new,y, test_size=0.3)

ss = StandardScaler()
train_scaled = ss.fit_transform(train_x)
test_scaled = ss.transform(test_x)
print("train_scaled 의 shape : ",train_scaled.shape )

train_poly = poly.fit_transform(train_scaled)
test_poly = poly.transform(test_scaled)

print("train_poly 의 shape : ",train_poly.shape )

lr = LinearRegression()
lr.fit(train_poly, train_y)

print(lr.score(train_poly, train_y),lr.score(test_poly, test_y))

train_scaled 의 shape :  (64992, 4)
train_poly 의 shape :  (64992, 69)
0.13564384152491016 0.12769011778474249

In [97]:
# 위에서 선택된 4개의 X값들이 각각 어떤 상관관계가 있는지 확인하시오.
# 상관성이 가장 높은 2개의 인자를 선택해,Code_Num 별 두 변수의 평균/표준편차를 계산하시오.
sample = data2[selector.get_feature_names_out()]
sample.corr()

,Tube Furnace CP,Tube Furnace3 OP,Tube Furnace4 OP,ST
Tube Furnace CP,1.000000,0.066227,-0.025298,-0.034812
Tube Furnace3 OP,0.066227,1.000000,0.278784,0.018852
Tube Furnace4 OP,-0.025298,0.278784,1.000000,0.025640
ST,-0.034812,0.018852,0.025640,1.000000

In [12]:
# 정답지와 비교해쓸 때, ST임
data2[['Tube Furnace CP', 'Tube Furnace3 OP', 'Tube Furnace4 OP', 'ST','Z1-Temp']].corr()

,Tube Furnace CP,Tube Furnace3 OP,Tube Furnace4 OP,ST,Z1-Temp
Tube Furnace CP,1.000000,0.066227,-0.025298,-0.034812,-0.061994
Tube Furnace3 OP,0.066227,1.000000,0.278784,0.018852,-0.005584
Tube Furnace4 OP,-0.025298,0.278784,1.000000,0.025640,-0.024771
ST,-0.034812,0.018852,0.025640,1.000000,0.277438
Z1-Temp,-0.061994,-0.005584,-0.024771,0.277438,1.000000

In [98]:
df2 = df1.dropna()
sample2 = df2[['Tube Furnace3 OP', 'Tube Furnace4 OP','Code_Num']]
sample2.pivot_table(index='Code_Num', values=['Tube Furnace3 OP', 'Tube Furnace4 OP'], aggfunc=['mean', 'std'])

                     mean                               std
         Tube Furnace3 OP Tube Furnace4 OP Tube Furnace3 OP Tube Furnace4 OP
Code_Num
GroupA          51.179730        70.749941         1.468222         2.524301
GroupB          52.544226        71.139630         1.514103         2.273685
GroupC          48.764708        67.630012         1.453158         2.148475
GroupD          51.069062        69.941883         1.277021         1.811230
GroupE          50.755132        70.271200         1.788434         2.714977
GroupF          50.410135        68.927763         1.250615         1.498486